 <h3>{{airline.name}}</h3> <br>
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#info">Info</a></li>
	<li><a data-toggle="tab" href="#dest">Destinations</a></li>
	<li><a data-toggle="tab" href="#planes">Airplanes</a></li>
	<li><a data-toggle="tab" href="#flights">Flights</a></li>
	<li><a data-toggle="tab" href="#rep">Reports</a></li>
</ul>

<div class="tab-content">
	<div id="info" class="tab-pane fade in active">
		<br>
		<div class="col-sm-12">
			<form>
				<div class="panel panel-default text-left">
					<div class="panel-body">
						Name: <input type="text" class="form-control"
							ng-model="airline.name"><br> Address: <input
							type="text" class="form-control" ng-model="airline.address"><br>
						Description:
						<textarea class="form-control" rows="4"
							ng-model="airline.description"></textarea>
						<br>
						<button class="btn btn-sm btn-primary" ng-click=saveChanges()>Save
							changes</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="dest" class="tab-pane">
		<br>
		<div class="col-sm-12 well" style="background-color: white;">
		<div class="col-sm-12">
		<form>
			<div class="col-sm-4 ">
			<input class="form-control" type="text" id="searchDest" ng-model="searchDest" list="destList" autocomplete="off">
			<datalist id="destList">
				<option ng-repeat="dest in potentialDests"
					value="({{dest.airportCode}}) {{dest.city}}, {{dest.country}}, {{dest.airport}}"></option>
			</datalist>
			</div>
			<div class="col-sm-2">
				<input type="submit" ng-click="addDest()" class="form-control btn btn-sm btn-success" value="Add destination">
			</div>
		</form>
		</div>
		<div class="col-sm-12"><br><br>
		 <div class="col-sm-4 ">
			<input type="text" class="form-control" ng-model="searchText" placeholder="Filter destinations">
		 </div>
		 </div>
			<div class="col-sm-12"><br>
				<table class="table table-striped airline-table">
					<thead>
						<tr>
							<th>Airport code</th>
							<th>City</th>
							<th>Country</th>
							<th>Airport</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dest in dests | filter:searchText">
							<td>{{dest.airportCode}}</td>
							<td>{{dest.city}}</td>
							<td>{{dest.country}}</td>
							<td>{{dest.airport}}</td>
							<td>
								<button class="btn btn-sm btn-danger x-btn"
									ng-click="removeDest(dest)">x</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="planes" class="tab-pane">
		<br>
		<div class="col-sm-12 well" style="background-color: white;">
		<div class="col-sm-12 well">
		<form>		
			<div class="col-sm-3 ">
				<label>Model number</label>
				<input class="form-control" type="text" ng-model="plane.modelNumber" autocomplete="off">
			</div>
			<div class="col-sm-3 ">
				<label>Model name</label>
				<input class="form-control" type="text" ng-model="plane.modelName" autocomplete="off">
			</div>
			<div class="col-sm-3">
				<label>Aircarft type</label><br>
				<select name="aircraftType" class="btn btn-outline" ng-model="aircraftType" 
					ng-options="aircraftType for aircraftType in aircraftTypes" required>
            </select>
			</div>
			<div class="col-sm-2"><br>
				<input type="submit" ng-click="addPlane()" class="form-control btn btn-sm btn-success add-plane-btn" value="Add aircraft">
			</div>
		</form>
		</div>
		<div class="col-sm-12"><br><br>
		 <div class="col-sm-4 ">
			<input type="text" class="form-control" ng-model="searchTextPlanes" placeholder="Filter planes">
		 </div>
		 </div>
			<div class="col-sm-12"><br>
				<table class="table table-striped airline-table">
					<thead>
						<tr>
							<th>Model number</th>
							<th>Model name</th>
							<th>Aircraft type</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="plane in planes | filter:searchTextPlanes">
							<td>{{plane.modelNumber}} </td>
							<td>{{plane.modelName}}</td>
							<td>{{parseAircraftType(plane.type)}}</td>
							<td>
								<a class="btn btn-sm btn-primary x-btn"
									href="#!/airline-admin/seat-config/{{plane.id}}">Configure cabins</a>
								<button class="btn btn-sm btn-danger x-btn"
									ng-click="removePlane(plane)">x</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="flights" class="tab-pane">
		<br>
		<div class="col-sm-12 well" style="background-color: white;">
		<div class="col-sm-12 well">
		<form>		
			<div class="col-sm-3 ">
				<label>Model number</label>
				<input class="form-control" type="text" ng-model="plane.modelNumber" autocomplete="off">
			</div>
			<div class="col-sm-3 ">
				<label>Model name</label>
				<input class="form-control" type="text" ng-model="plane.modelName" autocomplete="off">
			</div>
			<div class="col-sm-3">
				<label>Aircarft type</label><br>
				<select name="aircraftType" class="btn btn-outline" ng-model="aircraftType" 
					ng-options="aircraftType for aircraftType in aircraftTypes" required>
            </select>
			</div>
			<div class="col-sm-2"><br>
				<input type="submit" ng-click="addPlane()" class="form-control btn btn-sm btn-success add-plane-btn" value="Add aircraft">
			</div>
		</form>
		</div>
		<div class="col-sm-12"><br><br>
		 <div class="col-sm-4 ">
			<input type="text" class="form-control" ng-model="searchTextFlights" placeholder="Filter flights">
		 </div>
		 </div>
			<div class="col-sm-12"><br>
				<table class="table table-striped airline-table">
					<thead>
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Departure date</th>
							<th>Landing date</th>
							<th>Airplane</th>
							<th>Stops</th>
							<th>One way price</th>
							<th>Round trip price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="flight in flights | filter:searchTextFlights">
							<td>{{flight.from.airportCode}} </td>
							<td>{{flight.to.airportCode}}</td>
							<td>{{formatDate(flight.departureDate)}}</td>
							<td>{{formatDate(flight.landingDate)}}</td>
							<td>[{{flight.airplane.modelNumber}}] {{flight.airplane.modelName}}</td>
							<td>
								<span ng-if="flight.stopCount>0" ng-repeat="dest in flight.stops">{{dest.airportCode}} </span>
								<span ng-if="flight.stopCount==0">Nonstop</span>
							</td>
							<td>{{flight.oneWayPrice}}$</td>
							<td>{{flight.returnPrice}}$</td>
							<td>
								<a class="btn btn-sm btn-primary x-btn"
									href="#!/airline-admin/seat-config/{{plane.id}}">Configure cabins</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>














