<div class="container">
	<div class="row">
		<div class="col-md-12"></div>
		<button class="btn btn-md btn-primary" ng-click="addSegment()"> <span
			class="glyphicon glyphicon-plus"></span> New segment
		</button>
		<button class="btn btn-md btn-primary" ng-click=""> <span
			class="glyphicon glyphicon-save"></span> Save changes
		</button>
	</div>
</div>

<br>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="seat-config/#menu1" id="economy-tab">Economy class</a></li>
    <li><a data-toggle="tab" href="seat-config/#menu2" id="business-tab">Business class</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">
      <h3>Economy class cabin</h3>
      <div id="economy-class-segments">
      		
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Business class cabin</h3>
      <div id="business-class-segments">
      		
      </div>
    </div>
  </div> 