<div class="container">
	<div class="row">
		<div class="col-md-12"></div>
		<button class="btn btn-md btn-primary" data-toggle="modal" data-target="#addSegModal"> <span
			class="glyphicon glyphicon-plus"></span> New segment
		</button>
		<button class="btn btn-md btn-primary" ng-click="saveChanges()"> <span
			class="glyphicon glyphicon-save"></span> Save changes
		</button>
	</div>
</div>

<br>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="seat-config/#menu1" id="economy-tab">Economy class</a></li>
    <li><a data-toggle="tab" href="seat-config/#menu2" id="business-tab">Business class</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">
      <h3>Economy class cabin</h3>
      <div id="cTest"></div>
      <div id="economy-class-segments">
      		
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Business class cabin</h3>
      <div id="business-class-segments">
      		
      </div>
    </div>
  </div> 
  
  
<!-- Modal -->
<div class="modal fade" id="addSegModal" role="dialog">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Specify number of rows and colums</h4>
         </div>
         <div class="modal-body">
            Rows <input ng-model="newSeg.rows" size="1" maxlength="2" ng-required="true">
            Columns <input ng-model="newSeg.cols" size="1" maxlength="2" ng-required="true">
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" ng-click="addSeg()">Submit</button>
         </div>
      </div>
   </div>
</div>
  
 <!-- Modal -->
<div class="modal fade" id="updSegModal" role="dialog">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Specify number of rows and colums</h4>
         </div>
         <div class="modal-body">
            Rows <input ng-model="updSeg.rows" size="1" maxlength="2" ng-required="true">
            Columns <input ng-model="updSeg.cols" size="1" maxlength="2" ng-required="true">
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="submitUpdSeg">Submit</button>
         </div>
      </div>
   </div>
</div> 