<div class="col-sm-2"><br><br><br>
	<div class="row">
        <div class="col-xs-12">
        	<label class="flight-label">Price</label>
            <input type="range" class="slider" id="priceSlider">&nbsp;
            <label class="flight-label2" id=priceOutputMin></label>
            <label class="flight-label2" id="priceOutputMax">
            </label>
        </div>
		<div class="col-xs-12">
        	<label class="flight-label">Trip duration</label>
            <input type="range" class="slider" id="tripDurrationSlider">&nbsp;
            <label class="flight-label2" id=tripDurrationMin></label>
            <label class="flight-label2" id="tripDurrationMax">
            </label>
        </div>
		<div class="font12 col-xs-12 well"">
			<label class="font14">Airlines</label><br>
			<div ng-repeat="airline in airlines">
			<input type="checkbox" name="airline" id="arl-{{airline.id}}" ng-model="airline.selected"  ng-change="toggleAirline($index)">
          	<label for="arl-{{airline.id}}">{{airline.name}}</label>
			</div>
		</div>
		<div class="font12 col-xs-12 well">
			<label class="font14">Number of stops</label><br/>
			  <label>
			    <input type="radio" ng-model="stopNum" value="-1" ng-checked=true>
			    Any
			  </label><br/>
			  <label>
			    <input type="radio" ng-model="stopNum" ng-value="0">
			    Nonstop
			  </label><br/>
			  <label>
			    <input type="radio" ng-model="stopNum" value="1">
			    1
			  </label><br/>
			  <label>
			    <input type="radio" ng-model="stopNum" value="2">
			    2+
			  </label><br/>
		  </div>
		  <div class="font12 col-xs-12 well">
			<label class="font14">Stop destinations</label><br>
			<input type="checkbox" name="stop" id="any" ng-model="anyDest"  ng-change="toggleAnyDest()">
          	<label for="any">Any</label>
			<div ng-repeat="dest in stops">
			<input type="checkbox" name="stop" id="stop-{{dest.id}}" ng-model="dest.selected"  ng-change="toggleStopDest()">
          	<label for="stop-{{dest.id}}">{{dest.city}} ({{dest.airportCode}})</label>
			</div>
		</div>
</div>
</div>

<div class="col-sm-9">

<select name="sortOption" class="btn btn-outline search-fc cols-sm-12" ng-model="sortOption" 
ng-options="sortOption.val for sortOption in sortOptions" ng-change="selectSort()" required>
<option value="" disabled selected>Sort by</option>
</select>
<br><br><br>

<div class="col-sm-12 wrap" ng-repeat="flight in flights" ng-init="idx = $index">
	<div class="col-sm-10 mbr-col-md-10">
		<div class="col-sm-12 flight-details">
		<div class="col-sm-4">
			<div class="row flight-label">{{formatTime(flight.departureDate)}} - {{formatTime(flight.landingDate)}} </div>
			<div class="row flight-label2">{{flight.airline.name}}</div>
		</div>
		<div class="col-sm-4">
			<div class="row flight-label" ng-if="flight.stopCount == 0">Nonstop</div>
			<div ng-if="flight.stopCount > 0">
				<div class="row flight-label">{{flight.stopCount}} Stops </div>
				<div class="row">
					<label class="flight-label2" ng-repeat="dest in flight.stops">{{dest.airportCode}}&nbsp</label>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row flight-label">{{duration(flight.departureDate, flight.landingDate)}}</div>
			<div class="row flight-label2">{{flight.from.airportCode}} - {{flight.to.airportCode}} </div>
		</div>
		</div>
		<div class="col-sm-12 flight-details" ng-if="ftype == 2">
		<div class="col-sm-4">
			<div class="row flight-label">{{formatTime(retFlights[idx].departureDate)}} - {{formatTime(retFlights[idx].landingDate)}} </div>
			<div class="row flight-label2">{{retFlights[idx].airline.name}}</div>
		</div>
		<div class="col-sm-4">
				<div class="row flight-label" ng-if="retFlights[idx].stopCount == 0">Nonstop</div>
				<div ng-if="retFlights[idx].stopCount > 0">
					<div class="row flight-label">{{retFlights[idx].stopCount}} Stops </div>
					<div class="row">
					<label class="flight-label2" ng-repeat="dest in retFlights[idx].stops">{{dest.airportCode}}&nbsp</label>
					</div>
				</div>
		</div>
		<div class="col-sm-4">
			<div class="row flight-label">{{duration(retFlights[idx].departureDate, retFlights[idx].landingDate)}}</div>
			<div class="row flight-label2">{{retFlights[idx].from.airportCode}} - {{retFlights[idx].to.airportCode}} </div>
		</div>
		</div>
	</div>
		<div class="col-sm-2">
			<div class="row flight-label" ng-if="ftype == 1">{{flight.oneWayPrice}}$</div>
			<div class="row flight-label" ng-if="ftype == 2">{{flight.oneWayPrice+retFlights[idx].returnPrice}}$</div><br><br>
			<div class="row flight-label2 make-res-btn"><button class="btn btn-warning btn-sm" ng-click="makeRes(flight.id, retFlights[idx].id)">Make reservation</button></div>
		</div>
</div>
</div>