<div class="col-sm-8">
	<form ng-repeat="passenger in passengers">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-sm-4">
					<h4>{{passenger.passId}}</h4>
				</div>

			</div>
			<div class="panel-body">
				<div class="col-sm-6">
					<label>Name</label>
					<input type="text" class="form-control" ng-model="passenger.name">
				</div>
				<div class="col-sm-6">
					<label>Last Name</label>
					<input type="text" class="form-control" ng-model="passenger.lastName">
				</div>
			</div>
			<div class="panel-body">
				<div class="col-sm-6">
					<label>Email</label>
					<input type="text" class="form-control" ng-model="passenger.email">
				</div>
				<div class="col-sm-6">
					<label>Phone</label>
					<input type="text" class="form-control" ng-model="passenger.phone">
				</div>
			</div>
			<div class="panel-body">
				<div class="col-sm-2">
					<label>Date of birth</label>
					<input type="text" class="form-control" ng-model="passenger.day" placeholder="Day">
				</div>
				<div class="col-sm-2">
					<label style="color:white">-</label>
					<input type="text" class="form-control" ng-model="passenger.month" placeholder="Month">
				</div>
				<div class="col-sm-2">
					<label style="color:white">-</label>
					<input type="text" class="form-control" ng-model="passenger.year" placeholder="Year">
				</div>
				<div class="col-sm-6">
					<label>Passport number</label>
					<input type="text" class="form-control numbers-only" ng-model="passenger.passportId">
				</div>
			</div>
			<div class="panel-body">
				<div class="col-sm-2">
					<label>Seat</label>
				</div>
				<div class="col-sm-2">
					<label>Row:</label>
					<span>{{passenger.flightSeat.seat.row}}</span>
				</div>
				<div class="col-sm-2">
					<label>Column:</label>
					<span>{{passenger.flightSeat.seat.col}}</span>
				</div>
				<div class="col-sm-3">
					<label>Flight class:</label>
					<span>{{passenger.flightSeat.flightClass}}</span>
				</div>
			</div>
			<div class="panel-body" ng-if="passenger.returnTicket">
				<div class="col-sm-2">
					<label>Return seat</label>
				</div>
				<div class="col-sm-2">
					<label>Row:</label>
					<span>{{passenger.retFl.seat.row}}</span>
				</div>
				<div class="col-sm-2">
					<label>Column:</label>
					<span>{{passenger.retFl.seat.col}}</span>
				</div>
				<div class="col-sm-3">
					<label>Flight class:</label>
					<span>{{passenger.retFl.flightClass}}</span>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-xs user-data-btn x-btn" ng-click="removeSeat(passenger)">x</button>
				</div>
			</div>
			<div class="panel-body" ng-if="roundTrip == true">
			</div>		
			<div class="panel-body">
				<div class="col-sm-2">
					<button class="btn btn-xs user-data-btn" ng-click="fillUserData(passenger)">Fill with user data</button>
				</div>
				<div ng-if="roundTrip==true" class="col-sm-4">
					<button class="btn btn-xs user-data-btn" ng-click="selectSeat($index)" data-toggle="modal" data-target="#seatsModal">Choose seat for return</button>
				</div>
			</div>			
		</div>
	</form>
</div>
<div class="col-sm-4">
	<div class="panel panel-default font14">
		<div ng-repeat="flight in flightInfo">
			<div class="panel-body">
				<div class="col-sm-12">
					<h4>{{flight.type}} info</h4>
				</div>
			</div>
			<div class="panel-body">
				<div class="col-sm-12">
					<label>Airline:</label>
					<span>{{flight.airline.name}}</span>
				</div>
				<div class="col-sm-12">
					<label>Destinations</label>
					<span>{{flight.from.city}} - {{flight.to.city}}</span>
				</div>
				<div class="col-sm-12">
					<label>Date: </label>
					<span>{{parseDate(flight.departureDate, flight.landingDate)}}</span>
				</div>
				<div class="col-sm-12"><br>
					<label>Total price: </label>
					<span>{{totalPrice}}$</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default font14">
			<div class="panel-body">
				<div class="col-sm-12">
					<h4>Pricing</h4>
				</div>
			</div>
			<div class="panel-body">
				<div class="col-sm-12">
					<label>Carry on bag fee:</label>
					<span>{{pricing.carryOnBagFee}}$</span>
				</div>
				<div class="col-sm-12">
					<label>First checked bag fee:</label>
					<span>{{pricing.firstCheckedBagFee}}$</span>
				</div>
				<div class="col-sm-12">
					<label>Second checked bag fee:</label>
					<span>{{pricing.secondCheckedBagFee}}$</span>
				</div>
				<div class="col-sm-12">
					<label>Additional bag fee:</label>
					<span>{{pricing.additionalBagFee}}$</span>
				</div>
	</div>
</div>
</div>
<div class="col-sm-12">
	<input type="submit" class="btn btn-md btn-primary" value="Make reservation" ng-click="makeRes()">
&nbsp;<font class="font14" color="red">{{err}}</font>
</div>


<!-- Modal -->
<div ng-if="roundTrip == true">
<div id="seatsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{selectSeatModal.flight.from.city}} - {{selectSeatModal.flight.to.city}}</h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12"><br>
				<table class="table table-striped airline-table">
					<thead>
						<tr>
							<th>Row</th>
							<th>Column</th>
							<th>Cabin</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="fs in selectSeatModal.nonSelectedSeats">
							<td>{{fs.seat.row}}</td>
							<td>{{fs.seat.col}}</td>
							<td>{{fs.flightClass}}</td>
							<td>
								<button class="btn btn-xs btn-success"
									ng-click="addRetSeat(fs, selectSeatModal.user)">+</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>